<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management System</title>
    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
    <script src="{% static 'base/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-3xl font-bold underline">
        This is the main html
      </h1>
      <div class="test">
        This is a test
      </div>
    </div>
  </body>
</html>


