{% load static %}
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <img src="{% static 'base/images/logo.jpg' %}" alt="Logo" class="w-10 h-10 rounded-full">
  </div>
  <div class="flex-none relative">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'home' %}">Home</a></li>
      
      <li>
        <details class="dropdown dropdown-end">
          <summary>Menu</summary>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 absolute">
            <li><a>Projects</a></li>
            <li><a>Tasks</a></li>
          </ul>
        </details>
      </li>
      {% if request.user.is_authenticated %}
      <li><a href="">Logout</a></li>
      {% else %}
      <li><a href="">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>
